
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background : linear-gradient(to bottom left ,   #E0E0E0 , #6B3DCC);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #000000;
        }

        h2 {
            margin-top: 40px;
            color: #B5A5CC;
        }

        .section {
            margin-bottom: 40px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .photo {
      width: 100%;
      max-width: 400px;
      margin-top: 10px;
      border-radius: 5px;
    }
        .section-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
        }

        .section-content {
            font-size: 14px;
            line-height: 1.5;
            color: #666;
        }