body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background color: aliceblue;
}

.header {
    display: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #FFD700, #FF8C00);
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FFD700;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.box {
    flex: 1 0 400px;
    max-width: 100%;
    height: 200px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.box1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 24, 9, 1) 35%, rgba(225, 92, 15, 1) 92%, rgba(255, 201, 0, 1) 100%);
}

.box2 {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.box3 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.box4 {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.box5 {
    background: rgb(15, 225, 117);
    background: linear-gradient(90deg, rgba(15, 225, 117, 1) 0%, rgba(15, 225, 25, 1) 47%, rgba(202, 255, 0, 1) 78%);
}

.box-text {
    color: #000;
    font-size: 30px;
    font-family: Fantasy;
    text-align: center;
}